<footer class="text-center bg-white shadow-sm fixed-bottom" style="font: normal 400 14 'Nunito', sans-serif;
letter-spacing: .1rem;color: #686868;">
    <div class="container">
        <span>©
            <script>document.write(new Date().getFullYear());</script> Transformers. All rights reserved.
        </span>
    </div>
</footer>




<!-- Bootstrap JS and jQuery scripts -->
<!-- Load jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Data Table Links-->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<!-- Sweet Alert Link-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Socket.io Real-Time Updates-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
  integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Active Link -->
<script src="/js/activeLink.js"></script>